<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Restaurants</h1>
    <%= link_to 'â•', new_restaurant_path, class: 'btn btn-light'  %>
  </div>
  <div class="cards">
    <% @restaurants.each do |restaurant| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to restaurant.name, restaurant_path(restaurant), style: 'text-decoration: none; color: white' %>
      </div>
    <% end %>
  </div>
</div>
