<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mt-3">
    <h1>Restaurants</h1>
    <% if policy(Restaurant).new? %>
      <%= link_to new_restaurant_path do %>
        <i class="fas fa-plus-square btn-light"></i>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="mb-5">
        <% @restaurants.each do |restaurant| %>
          <%= render 'restaurants/card', restaurant: restaurant %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <%= render 'map', markers: @markers.to_json %>
    </div>
  </div>
</div>
