<div class="container">
  <div class="d-flex justify-content-between align-items-center mt-3">
    <h1>Top Restaurants</h1>
    <%= link_to new_restaurant_path do %>
      <i class="fas fa-plus-square btn-light"></i>
    <% end %>
  </div>
  <div class="cards mb-5">
    <% @restaurants.each do |restaurant| %>
      <%= render 'restaurants/card', restaurant: restaurant %>
    <% end %>
  </div>
</div>
