.navbar-lewagon {
  justify-content: space-between;
  background: rgb(184, 25, 184);
  padding-left: 16px;
  padding-right: 16px;
  a {
    color: white !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
